:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --bg-outer: #f4f3ec;   
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg:#031c275b ;
    --bg-outer: #085274;  
    --border: #ff9100;
    
    
  }
}

body {
  margin: 0;
  background: var(--bg-outer);
}

#root {
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  background: var(--bg); 
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}